.timeline-text {
  ul {
    li {
      list-style: circle;
      padding: 5px;
      margin: 0 20px;
    }
  }
}

p {
  &.success-message {
    color: hsl(45, 91%, 68%);
    padding: 15px 0;
  }

  &.error-message {
    color: hsl(21, 100%, 50%);
    padding: 15px 0;
  }
}